.main 
  .header
    .header__name
      = link_to root_path do
        味力亭
    .header__tell
      ご予約、お問い合わせはこちらへ
    .header__tell__2
      0000-00000-00000
  .menu 
    %h1 メニュー
    .menu__category
      .menu__category__name
        お飲み物
      .menu__category__list
        %p ・ビール
        %p ・ハイボール
    .menu__category
      .menu__category__name
        一品
      .menu__category__list
        %p ・枝豆
        %p ・たこ
  .footer
    .footer__menu
      %p 居酒屋をお探しならば味力亭へ
    .footer__copy
      %p　COPYRIGHT © JIN NAKAMURA ALL RIGHTS RESERVED.
