.main 
  .header
    .header__name
      = link_to root_path do
        味力亭
    .header__tell
      ご予約、お問い合わせはこちらへ
    .header__tell__2
      0000-00000-00000
  .staff__list 
    %h1 スタッフ紹介
    .staff__list__name
      %h2 名前
      .staff__list__name__imag
        = image_tag "adpDSC_4890.jpg", class: "staff__pic"
        .staff__list__name__imag__text
          %h3 ここに一言
    .staff__list__name
      %h2 名前
      .staff__list__name__imag
        = image_tag "adpDSC_4890.jpg", class: "staff__pic"
        .staff__list__name__imag__text
          %h3 ここに一言
  .footer
    .footer__menu
      %p 居酒屋をお探しならば味力亭へ
    .footer__copy
      %p　COPYRIGHT © JIN NAKAMURA ALL RIGHTS RESERVED.