.main
  .header
    .header__name
      = link_to root_path do
        味力亭
    .header__tell
      ご予約、お問い合わせはこちらへ
    .header__tell__2
      0000-00000-00000
  .sisterstore
    .sisterstore__title
      %h3 系列店紹介
    .sisterstore__info
      .sisterstore__info__name
        %h1 よしまん
      .sisterstore__info__content
        .sisterstore__info__content__image
          = image_tag "adpDSC_4890.jpg", class: "store__pic"
        .sisterstore__info__content__text
          %h2 ここにお店の紹介をいれる
    .sisterstore__info
      .sisterstore__info__name
        %h1 よしまん
      .sisterstore__info__content
        .sisterstore__info__content__image
          = image_tag "adpDSC_4890.jpg", class: "store__pic"
        .sisterstore__info__content__text
          %h2 ここにお店の紹介
    .sisterstore__info
      .sisterstore__info__name
        %h1 よしまん
      .sisterstore__info__content
        .sisterstore__info__content__image
          = image_tag "adpDSC_4890.jpg", class: "store__pic"
        .sisterstore__info__content__text
          %h2 ここにお店の紹介
  
  .footer
    .footer__menu
      %p 居酒屋をお探しならば味力亭へ
    .footer__copy
      %p　COPYRIGHT © JIN NAKAMURA ALL RIGHTS RESERVED.