.main 
  .header
    .header__name
      = link_to root_path do
        味力亭
    .header__tell
      ご予約、お問い合わせはこちらへ
    .header__tell__2
      0000-00000-00000
  .store__data 
    %h1 店舗情報
    .store__data__title
      %h2 営業時間
      .store__data__title__detile
        %h3 AM11:00 ~ PM11:00
    .store__data__title
      %h2 住所
      .store__data__title__detile
        %h3 和歌山県岩出市清水232-1
    .store__data__title
      %h2 定休日
      .store__data__title__detile
        %h3 毎週火曜日
  .footer
    .footer__menu
      %p 居酒屋をお探しならば味力亭へ
    .footer__copy
      %p　COPYRIGHT © JIN NAKAMURA ALL RIGHTS RESERVED.

