.store__data {
  padding-top: 50px;
  width: 1200px;
  margin: 0 auto;
  h1 {
    font-size: 60px;
    font-family: 'klee',sans-serif;
    font-weight: bold;
    border-bottom:solid;
    border-width: thin ;
  }
  &__title {
    margin-top: 30px;
    margin-bottom: 40px;
    
    
    h2 {
      font-size: 47px;
      font-family: 'Kaiti SC',sans-serif;
    
    }
  
  &__detile {
    h3 {
      font-size: 25px;
    }
  }
 }
}